
.form-inline {
    display: flex;
    gap: 10px;
    
}


.form-control {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    
    
}

.btn {
    margin: 10px;
    
}

.btn-cadastro {
    padding-left: 50px;
}

.btn-entrar {
    padding-left: 50px;
}

.buttonBuscar {
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}

    
